
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    /* width:100vw;*/
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    justify-content:space-evenly;
    height: 70vh; 
    border: 3px solid red;
  }
  
  .container .child{
    width: 150px;
    margin: 10px;
    height: 150px;
    border: 2px solid blue;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
  }